*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
}

.container{
    position: relative;
    z-index: 2;
    opacity: 0.9;

}

.container h1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px 15px;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    color: #fff;

}
.title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    color: #fff;
}

.title input{
    height: 30px;
    width: 150px;
    border-radius: 8px;
    margin: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 8px;
    color: #fff;
}

input[type=text] {
    border: 3px solid #dadada;
}

.title p{
    font-family: "Tilt Neon", sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

.btn{
    display: flex;
    flex-direction: column;
    font-family: "Tilt Neon", sans-serif;
    
}

.btn .btn-num{
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    background-color: #3a3dcf;
    border:  none;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn .btn-num:hover{
    background-color: #fff;
    color:#3a3dcf;
}

.btn .btn-limpiar{
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    background-color: #be0c0c;
    border:  none;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;

}

.btn .btn-limpiar:hover{
    background-color: #fff;
    color: #be0c0c;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    z-index: 2;
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    display: flex;
    justify-content: flex-end;
    margin-left: 90%;

}

.btn-cv {
    background-color: #fff;
    padding: 10px 20px;
    color: #000;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    
}

.btn-cv:hover {
    background-color: #3639ee;
    color: #fff;
}

